@font-face {
    font-family: "EnterCommand";
    src: url(/fonts/EnterCommand.ttf);
}

@font-face {
    font-family: "Play";
    src: url(/fonts/NunitoSans_7pt_Condensed-Regular.ttf);
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img/fondobody9.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Estilos de la cabecera */
header {
    color: #fff;
    padding: 30px 20px 120px 20px;
    text-align: center;
}

.contenedor-cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen img {
    width: 500px;
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}

.nombre h1 {
    font-family: EnterCommand, sans-serif;
    margin: 0;
    color: #ffffff;
    text-shadow: 4px 4px 0px #7700ff;
    font-size: 70px;
}

/* Estilos de la barra de navegación */
ul {
    list-style: none;
}

.menu a {
    color: inherit;
    text-decoration: none;
    font-family: EnterCommand, sans-serif;
    font-size: 40px;
    text-shadow: 4px 4px 0px #7700ff;
    position: relative;
    display: block;
    padding: 5px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 50px;
}

.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #4745db, #6de1ff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menu a:hover::before {
    transform: scaleX(1);
}

/*Estilos de las cajas*/
.contenedor-cajas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedor-cajas h2 {
    font-family: EnterCommand, sans-serif;
    font-size: 50px;
    margin: 20px;
    color: #fff;
}

.contenedor-cajas p {
    text-align: justify;
    font-family: Play;
    font-size: calc(1.275rem + .2vw) !important;
    margin: 20px;
    color: #fff;
}

.box {
    width: 1200px;
    height: auto;
    background-color: #232566;
    background-size: cover;
    margin: 20px;
}

#sobremi {
    box-shadow: 20px -16px #25a9ff;
}

#sobremi h2 {
    text-shadow: 3px 3px 0px #25a9ff;
}

#habilidades {
    align-self: flex-end;
    text-align: end;
    box-shadow: -20px -16px #7700ff;
    color: #fff;
}

#habilidades h2 {
    text-shadow: 3px 3px 0px #7700ff;
}

#habilidades img {
    width: 100px;
    height: 100px;
}

.logohabilidades {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logohabilidades div {
    text-align: center;
}

.logohabilidades p {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
}

#proyectos {
    align-self: flex-end;
    text-align: end;
    box-shadow: -20px -16px #25a9ff;
}

#proyectos h2 {
    text-shadow: 3px 3px 0px #25a9ff;
}

#contacto {
    box-shadow: 20px -16px #7700ff;
}

#contacto h2 {
    text-shadow: 3px 3px 0px #7700ff;
}

/*Estilo caja de estudios*/

#estudios {
    box-shadow: 20px -16px #fe1de6;
}

#estudios h2 {
    text-shadow: 3px 3px 0px #fe1de6;
}

#estudios table {
    width: 100%;
}

#estudios td {
    padding: 20px 30px;
    vertical-align: middle;
}
#estudios table tr td a {
    color: #027ff5;
}
#estudios td:first-child {
    text-align: left;
    font-family: Play;
    color: #ffffff;
    font-size: 20px;
}

#estudios td:last-child {
    text-align: center;
}